body {
    background: #F3F3F3;
}

.img {
    background: #FFF;
    overflow: auto;
    border: 2px solid #EEE;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

img {
    width: 220px;
    height: 220px;
}